
$color-1C1F23:#1C1F23;
$color-F2F3F5:#F2F3F5;
$color-F8F8F8-bg:#F8F8F8;
$color-F7F8FA-bg:#F7F8FA;
$color-165DFF-normal:#165DFF;
$color-4080FF-hover:#4080FF;
$color-0E42D2-click:#0E42D2;
$color-6AA1FF-special:#6AA1FF;
$color-94BFFF-disabled:#94BFFF;
$color-BEDAFF-text-disabled:#BEDAFF;
$color-E8F3FF-light-hover:#E8F3FF;
$color-165DFF10-normal:rgba(22,93,255, 0.1);
$color-4080FF10-hover:rgba(64,128,255, 0.1);
$color-0E42D210-click:rgba(14,66,210, 0.1);
$color-6AA1FF10-special:rgba(106,161,255, 0.1);
$color-94BFFF10-disabled:rgba(148,191,255, 0.1);
$color-BEDAFF10-text-disabled:rgba(190,218,255, 0.1);
$color-E8F3FF10-light-hover:rgba(232,243,255, 0.1);
$color-86909C-border-click:#86909C;
$color-C9CDD4-border-hover:#C9CDD4;
$color-E5E6EB-border-normal:#E5E6EB;
$color-F2F3F5-border-light:#F2F3F5;
$color-4E5969-fill-stress:#4E5969;
$color-C9CDD4-fill-special:#C9CDD4;
$color-E5E6EB-fill-hover:#E5E6EB;
$color-F2F3F5-fill-normal:#F2F3F5;
$color-F7F8FA-fill-disabled:#F7F8FA;
$color-4080FF-fill-white:#ffffff;
$color-1D2129-text-stress:#1D2129;
$color-4E5969-text-title:#4E5969;
$color-86909C-text-secondary:#86909C;
$color-C9CDD4-text-grey:#C9CDD4;
$color-FFFFFF-text-white:#FFFFFF;
$color-00B42A-success-normal:#00B42A;
$color-23C343-success-hover:#23C343;
$color-009A29-success-click:#009A29;
$color-7BE188-success-disabled:#7BE188;
$color-AFF0B5-success-special:#AFF0B5;
$color-E8FFEA-success-light:#E8FFEA;
$color-FF7D00-warn-normal:#FF7D00;
$color-FF9A2E-warn-hover:#FF9A2E;
$color-D25F00-warn-click:#D25F00;
$color-FFCF8B-warn-disabled:#FFCF8B;
$color-FFE4BA-warn-special:#FFE4BA;
$color-FFF7E8-warn-light:#FFF7E8;
$color-F53F3F-error-normal:#F53F3F;
$color-F76560-error-hover:#F76560;
$color-CB2634-error-click:#CB2634;
$color-FBACA3-error-disabled:#FBACA3;
$color-FDCDC5-error-special:#FDCDC5;
$color-FFECE8-error-light:#FFECE8;
$color-00B42A-cyan-normal:#00B42A;
$color-23C343-cyan-hover:#23C343;
$color-009A29-cyan-click:#009A29;
$color-7BE188-cyan-disabled:#7BE188;
$color-AFF0B5-cyan-special:#AFF0B5;
$color-E8FFEA-cyan-light:#E8FFEA;
$color-F77234-orange-normal:#F77234;
$color-F99057-orange-hover:#F99057;
$color-CC5120-orange-click:#CC5120;
$color-FCC59F-orange-disabled:#FCC59F;
$color-FDDDC3-orange-special:#FDDDC3;
$color-FFF3E8-orange-light:#FFF3E8;
$color-F7BA1E-gold-normal:#F7BA1E;
$color-F9CC45-gold-hover:#F9CC45;
$color-CC9213-gold-click:#CC9213;
$color-FCE996-gold-disabled:#FCE996;
$color-FDF4BF-gold-special:#FDF4BF;
$color-FFFCE8-gold-light:#FFFCE8;
$color-3491FA-blue-normal:#3491FA;
$color-57A9FB-blue-hover:#57A9FB;
$color-206CCF-blue-click:#206CCF;
$color-9FD4FD-blue-disabled:#9FD4FD;
$color-C3E7FE-blue-special:#C3E7FE;
$color-E8F7FF-blue-light:#E8F7FF;
$color-722ED1-purple-normal:#722ED1;
$color-8D4EDA-purple-hover:#8D4EDA;
$color-551DB0-purple-click:#551DB0;
$color-C396ED-purple-disabled:#C396ED;
$color-DDBEF6-purple-special:#DDBEF6;
$color-F5E8FF-purple-light:#F5E8FF;
$color-FADC19-yellow-normal:#FADC19;
$color-FBE842-yellow-hover:#FBE842;
$color-CFAF0F-yellow-click:#CFAF0F;
$color-FDFA94-yellow-disabled:#FDFA94;
$color-FEFEBE-yellow-special:#FEFEBE;
$color-FEFFE8-yellow-light:#FEFFE8;
$color-9FDB1D-lime-normal:#9FDB1D;
$color-B5E241-lime-hover:#B5E241;
$color-7EB712-lime-click:#7EB712;
$color-DCF190-lime-disabled:#DCF190;
$color-EDF8BB-lime-special:#EDF8BB;
$color-FCFFE8-lime-light:#FCFFE8;
$color-D91AD9-pink-normal:#D91AD9;
$color-E13EDB-pink-hover:#E13EDB;
$color-B010B6-pink-click:#B010B6;
$color-F08EE6-pink-disabled:#F08EE6;
$color-F7BAEF-pink-special:#F7BAEF;
$color-FFE8FB-pink-light:#FFE8FB;
$color-F5319D-magenta-normal:#F5319D;
$color-F754A8-magenta-hover:#F754A8;
$color-CB1E83-magenta-click:#CB1E83;
$color-FB9DC7-magenta-disabled:#FB9DC7;
$color-FDC2DB-magenta-special:#FDC2DB;
$color-FFE8F1-magenta-light:#FFE8F1;