:export {
    color165dffNormal: $color-165DFF-normal;
    color4080ffHover: $color-4080FF-hover;
    color0e42d2Click: $color-0E42D2-click;
    color6aa1ffSpecial: $color-6AA1FF-special;
    color94bfffDisabled: $color-94BFFF-disabled;
    colorBedaffTextDisabled: $color-BEDAFF-text-disabled;
    colorE8f3ffLightHover: $color-E8F3FF-light-hover;
    color165dff10Normal: $color-165DFF10-normal;
    color4080ff10Hover: $color-4080FF10-hover;
    color0e42d210Click: $color-0E42D210-click;
    color6aa1ff10Special: $color-6AA1FF10-special;
    color94bfff10Disabled: $color-94BFFF10-disabled;
    colorBedaff10TextDisabled: $color-BEDAFF10-text-disabled;
    colorE8f3ff10LightHover: $color-E8F3FF10-light-hover;
    color86909cBorderClick: $color-86909C-border-click;
    colorC9cdd4BorderHover: $color-C9CDD4-border-hover;
    colorE5e6ebBorderNormal: $color-E5E6EB-border-normal;
    colorF2f3f5BorderLight: $color-F2F3F5-border-light;
    color4e5969FillStress: $color-4E5969-fill-stress;
    colorC9cdd4FillSpecial: $color-C9CDD4-fill-special;
    colorE5e6ebFillHover: $color-E5E6EB-fill-hover;
    colorF2f3f5FillNormal: $color-F2F3F5-fill-normal;
    colorF7f8faFillDisabled: $color-F7F8FA-fill-disabled;
    color4080ffFillWhite: $color-4080FF-fill-white;
    color1d2129TextStress: $color-1D2129-text-stress;
    color4e5969TextTitle: $color-4E5969-text-title;
    color86909cTextSecondary: $color-86909C-text-secondary;
    colorC9cdd4TextGrey: $color-C9CDD4-text-grey;
    colorFfffffTextWhite: $color-FFFFFF-text-white;
    color00b42aSuccessNormal: $color-00B42A-success-normal;
    color23c343SuccessHover: $color-23C343-success-hover;
    color009a29SuccessClick: $color-009A29-success-click;
    color7be188SuccessDisabled: $color-7BE188-success-disabled;
    colorAff0b5SuccessSpecial: $color-AFF0B5-success-special;
    colorE8ffeaSuccessLight: $color-E8FFEA-success-light;
    colorFf7d00WarnNormal: $color-FF7D00-warn-normal;
    colorFf9a2eWarnHover: $color-FF9A2E-warn-hover;
    colorD25f00WarnClick: $color-D25F00-warn-click;
    colorFfcf8bWarnDisabled: $color-FFCF8B-warn-disabled;
    colorFfe4baWarnSpecial: $color-FFE4BA-warn-special;
    colorFff7e8WarnLight: $color-FFF7E8-warn-light;
    colorF53f3fErrorNormal: $color-F53F3F-error-normal;
    colorF76560ErrorHover: $color-F76560-error-hover;
    colorCb2634ErrorClick: $color-CB2634-error-click;
    colorFbaca3ErrorDisabled: $color-FBACA3-error-disabled;
    colorFdcdc5ErrorSpecial: $color-FDCDC5-error-special;
    colorFfece8ErrorLight: $color-FFECE8-error-light;
    color00b42aCyanNormal: $color-00B42A-cyan-normal;
    color23c343CyanHover: $color-23C343-cyan-hover;
    color009aa9CyanClick: $color-009A29-cyan-click;
    color7be188CyanDisabled: $color-7BE188-cyan-disabled;
    colorAff0B5CyanSpecial: $color-AFF0B5-cyan-special;
    colorE8ffeaCyanLight: $color-E8FFEA-cyan-light;
    colorF77234OrangeNormal: $color-F77234-orange-normal;
    colorF99057OrangeHover: $color-F99057-orange-hover;
    colorCc5120OrangeClick: $color-CC5120-orange-click;
    colorFcc59fOrangeDisabled: $color-FCC59F-orange-disabled;
    colorFdddc3OrangeSpecial: $color-FDDDC3-orange-special;
    colorFff3e8OrangeLight: $color-FFF3E8-orange-light;
    colorF7ba1eGoldNormal: $color-F7BA1E-gold-normal;
    colorF9cc45GoldHover: $color-F9CC45-gold-hover;
    colorCc9213GoldClick: $color-CC9213-gold-click;
    colorFce996GoldDisabled: $color-FCE996-gold-disabled;
    colorFdf4bfGoldSpecial: $color-FDF4BF-gold-special;
    colorFffce8GoldLight: $color-FFFCE8-gold-light;
    color3491faBlueNormal: $color-3491FA-blue-normal;
    color57a9fbBlueHover: $color-57A9FB-blue-hover;
    color206ccfBlueClick: $color-206CCF-blue-click;
    color9fd4fdBlueDisabled: $color-9FD4FD-blue-disabled;
    colorC3e7feBlueSpecial: $color-C3E7FE-blue-special;
    colorE8f7ffBlueLight: $color-E8F7FF-blue-light;
    color722ed1PurpleNormal: $color-722ED1-purple-normal;
    color8d4edaPurpleHover: $color-8D4EDA-purple-hover;
    color551db0PurpleClick: $color-551DB0-purple-click;
    colorC396edPurpleDisabled: $color-C396ED-purple-disabled;
    colorDdbef6PurpleSpecial: $color-DDBEF6-purple-special;
    colorF5e8ffPurpleLight: $color-F5E8FF-purple-light;
    colorFadc19YellowNormal: $color-FADC19-yellow-normal;
    colorFbe842YellowYover: $color-FBE842-yellow-hover;
    colorCfaf0fYellowClick: $color-CFAF0F-yellow-click;
    colorFdfa94YellowDisabled: $color-FDFA94-yellow-disabled;
    colorFefebeYellowSpecial: $color-FEFEBE-yellow-special;
    colorFeffe8YellowLight: $color-FEFFE8-yellow-light;
    color9fdb1dLimeNormal: $color-9FDB1D-lime-normal;
    colorB5e241LimeHover: $color-B5E241-lime-hover;
    color7Eb712LimeClick: $color-7EB712-lime-click;
    colorDcf190LimeDisabled: $color-DCF190-lime-disabled;
    colorEdf8bbLimeSpecial: $color-EDF8BB-lime-special;
    colorFcffe8LimeLight: $color-FCFFE8-lime-light;
    colorD91ad9PinkNormal: $color-D91AD9-pink-normal;
    colorE13edbPinkHover: $color-E13EDB-pink-hover;
    colorB010B6PinkClick: $color-B010B6-pink-click;
    colorF08EE6PinkDisabled: $color-F08EE6-pink-disabled;
    colorF7baefPinkSpecial: $color-F7BAEF-pink-special;
    colorFfe8fbPinkLight: $color-FFE8FB-pink-light;
    colorF5319dMagentaNormal: $color-F5319D-magenta-normal;
    colorF754a8MagentaHover: $color-F754A8-magenta-hover;
    colorCb1e83MagentaClick: $color-CB1E83-magenta-click;
    colorFb9dc7MagentaDisabled: $color-FB9DC7-magenta-disabled;
    colorFdc2dbMagentaSpecial: $color-FDC2DB-magenta-special;
    colorFfe8f1MagentaLight: $color-FFE8F1-magenta-light;
}